@font-face {
  font-family: 'ABC Diatype Rounded';
  src: local('ABC Diatype Rounded'), local('ABCDiatypeRounded');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'ABC Diatype Rounded', 'ABCDiatypeRounded', 'Nunito', sans-serif;
  background: var(--bg-base);
}
